<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top shadow-sm py-3">
  <div class="container-fluid px-4">

    <!-- Logo -->
    <a class="navbar-brand fw-bold d-flex align-items-center" href="/listings">
      <i class="fa-solid fa-house-chimney me-2 brand-icon"></i>
      StayFinder
    </a>

    <!-- Toggler for mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarContent" aria-controls="navbarContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">

      <!-- Search bar -->
      <form class="search-bar mx-auto my-3 my-lg-0 d-flex align-items-center" action="/listings" method="GET">
        <i class="fa-solid fa-magnifying-glass search-icon"></i>
        <input
          type="text"
          name="search"
          class="search-input"
          placeholder="Search destinations..."
        >
      </form>

      <!-- Right side links -->
      <ul class="navbar-nav ms-auto align-items-lg-center gap-2">
        <li class="nav-item">
          <a class="nav-link host-link" href="/listings/new">
            <i class="fa-regular fa-square-plus me-1"></i> Become a Host
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle d-flex align-items-center" href="#"
            id="userMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-bars me-2"></i>
            <i class="fa-solid fa-circle-user fs-4"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end shadow-sm" aria-labelledby="userMenu">
            <li><a class="dropdown-item" href="/signup">Sign up</a></li>
            <li><a class="dropdown-item" href="/login">Log in</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/listings/new">Host your home</a></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>