<div class="container mt-5">
    <div class="card shadow p-4">
        <h1 class="text-danger">
            Error <%= err.statusCode %>
        </h1>

        <hr>

        <p class="fs-5">
            <%= err.message %>
        </p>

        <a href="/listings" class="btn btn-dark">
            Go Back
        </a>
    </div>
</div>